.projetosFeitos{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.projetosAndamento{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projetosContainer{
    display: flex;
    align-items: center;
    width: 300px;
    margin: 10px;
}

.containerMini{
    margin: 10px;
    border: 1px solid wheat;
    padding: 10px;
    max-width: 200px;
}

.img{
    width: 30px;
    height: 30px;
    display: inline;
    margin-bottom: -10px;
}

.links{
    font-size: 18px;
    color: rgb(209, 192, 192);
    text-decoration: none;
    text-align: center;
    border: 1px solid;
    margin: 5px;
    padding: 5px;
}

.links:hover{
    color:black;
}
