.imagemPerfil > img{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 150px;
    width: 600px;
    height: 270px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.textoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoEu{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 320px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}