.imagemPerfil > img{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid white;
    width: 600px;
    height: 250px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.imagemPerfil{
    margin-bottom: 50px;
}

.textoContainer{
    border:1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 500px;
}