@import url('https://fonts.cdnfonts.com/css/fulbo');
.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.inputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

.submit{
    font-family: 'Fulbo', sans-serif;
    background-color: rgb(209, 192, 192); 
    border-radius:1rem;
    padding: 10px;
}

.label{
    font-size: 15px;
}

.textarea{
    width: 200px;
    height: 100px;
}

.contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.iconContatos{
    width: 50px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
