.Nav{
    display: inline-block;
    align-items: center;
    width: 100%;
}

.containerNav{
    display: inline-block;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.links{
    display: inline-block;
    align-items: center;
    font-size: 18px;
    padding:3px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

.linkNav{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.links:visited{
    color: rgb(209, 192, 192);
}

.links:hover{
    color:black;
}

.active{
    color: black;
    font-weight: bold;
}